/* Header Styling */
header {
    background-color: #4CAF50;
    /* Change the background color to your preferred color */
    padding: 10px;
    text-align: center;
}

h1 {
    color: white;
    /* Change the font color to your preferred color */
}

#logo img {
    width: 100px;
    /* Adjust the logo width as needed */
}

nav {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    /* Change the font color to your preferred color */
    font-weight: bold;
}

a:hover {
    border-bottom: 2px solid white;
    /* Add an underline on hover */
}

/* Add this part for the cart icon */
#cart-icon {
    float: right;
    margin-top: 15px;
    color: white;
    /* Change the font color to your preferred color */
    font-size: 1.5em;
    cursor: pointer;
}

/* Product Listing Styling */
#best-selling,
#trending {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    color: #4CAF50;
    /* Change the font color to your preferred color */
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#best-selling div,
#trending div {

    padding: 10px;
    background-color: #f8f8f8;
    /* Set the background color for product cards */
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#best-selling div:hover,
#trending div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
    /* Set the background color on hover */
    cursor: pointer;
}